


body {
    margin: 10px 60px;
    background-image: url("https://img.freepik.com/premium-vector/abstract-leaves-seamless-pattern-exotic-wallpaper_38668-184.jpg?w=1380");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}
a {
    text-decoration: none;
    color: black;
}
h1, h4, ol {
    margin: 0;
}
p {
    margin: 5px 0;
}
.top-bar {
    background-color: rgb(118, 214, 168);
    padding: 0 40px;
}
.main {
    background-color: #c79d62;
    padding: 10px 15px;
}
.row {
    padding: 5px 0;
}
.bottom {
    display: flex;
    color: grey;
    font-size: 12px;
}
.timestamp {
    padding-right: 10px;
}



/* css for menu */
.menu-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333;
    margin-top: 0px;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
  }
  
  .menu a:hover {
    background-color: #444;
  }
  /* end css for menu */